body {
    background: #fff7ee;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    width: 98%;
}

img {
    width: 236px;
    height: 57px;
}

#target,
select {
    width: 100%;
}

#submit {
    background: linear-gradient(180deg, rgba(127, 190, 255, 1) 0%, rgba(3, 126, 254, 1) 100%);
    color: #fff;
    border: none;
    border-radius: 0.5em;
    height: 50px;
    width: 124px;
    font-size: 25px;
    padding: 10px;
}

#title {
    font-size: 70px;
}

fieldset {
    margin-top: 5px;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: inset 0 0 0.5em #bbb;
}

legend {
    font-weight: bold;
    background-color: #fff;
    border: solid;
    border-color: #6c6c6c;
    border-radius: 0.5em;
    border-width: 1px;
}

#fieldsetContainer {
    width: 98%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
}

#OptionsFieldset,
#ActivityFieldset {
    width: 50%;
}

#OptionsFieldset {
    z-index: 1;
}

#statusFieldset {
    width: 95%;
    height: 220px;
}

form {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formDiv {
    width: 100%;
}

#Message {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 170px;
    resize: none;
}

#statusContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.statusDiv {
    width: 200px;
    height: 60px;
    margin: 2px;
}

.status {
    margin: 0;
}

#activity {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 100%;
    resize: none;
}