body {
    background: #fff7ee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 0;
    user-select: none;
    counter-reset: section;
}

header {
    height: 57px;
    padding: 8px 1%;
    box-shadow: 0 4px 11px #ccc;
    background-color: #fff;
}

#logoContainer {
    display: inline-block;
    height: 57px;
}

img {
    width: 236px;
    height: 57px;
}

#title {
    display: inline-block;
    transform: rotate(-4deg);
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: 10px;
}

#submit {
    float: right;
    background: linear-gradient(180deg, rgba(127, 190, 255, 1) 0%, rgba(3, 126, 254, 1) 100%);
    color: #fff;
    border: none;
    border-radius: 12px;
    height: 57px;
    width: 124px;
    font-size: 25px;
    padding: 10px;
}

#mainSection {
    display: flex;
    justify-content: center;
}

legend {
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #CCC;
    border-radius: 8px;
}

.sideSection {
    min-height: 630px;
    width: 50vw;
    display: inline-block;

}

.flexColumn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset {
    box-sizing: border-box;
    padding: 2%;
    margin: 2%;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #CCC;
    box-shadow: inset 0 0 8px #bbb;
}

#OptionsFieldset {
    position: relative;
    z-index: 1;
}

form {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.formDiv {
    width: 100%;
    margin: 2px 0;
}

.backdropSpan::before {
    counter-increment: section;
    content: counter(section)'.';
    position: absolute;
    left: 4px;
}

.backdropSpan {
    display: block;
}

#Message {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    resize: none;
    padding-left: 30px;
    box-sizing: border-box;
    height: 120px;
}

#delayinput,
select {
    width: 100%;
}

#delayspan::after {
    content: 'ms';
}

#statusFieldset {
    min-height: 270px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul {
    margin: 0;
}

#rightSection {
    float: right;
}

#ActivityFieldset {
    height: 98%;
}

#activity {
    background-color: #000;
    color: #0ff64a;
    height: 100%;
    width: 100%;
    resize: none;
    box-sizing: border-box;
}

#troubleshotButton {
    float: right;
}

#troubleshotOverlay {
    display: none;
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#troubleshotContent {
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    width: 80vw;
    height: 80vh;
    transform: translate(-50%, -50%);
}